body {
  min-height: 100vh;
}

header {
  min-height: 20vh;
}

#mainBody {
  min-height: 70vh;
}

footer {
  min-height: 10vh;
}

#heroImage {
  /* height: 10vh; */
  max-width: 100px;
}

.fourColumns {
  background-color: royalblue;
  min-height: 10vh;
  margin: 10px;
}

.topFourColumns {
  border: solid 1px black;
}

.eachCol {
  width: 350px;
  margin: 10px;
  border: solid 5px pink;
  display: inline-block;
}
