<<<<<<< HEAD
h1{
    text-transform: lowercase;
    font-family: 'Akaya Telivigala', cursive;}
h2{text-align: right;}
h3{
    font-size: 58px;
    color: bisque;}
=======
body {
    background-color: grey;
}

div {
    width: 200px;
    height: 200px;
    background-color: pink;
}
>>>>>>> 131990caf9f4551456383713596658091363c9f8
