body {
  height: 99vh;
  width: 99vw;
  background-image: linear-gradient(
    purple,
    violet,
    red,
    orange,
    yellow,
    limegreen,
    green,
    lightblue,
    blue
  );
}

.container {
  background: lightGrey;
  width: 50%;
  margin: auto;
}

#display {
  background-color: darkGrey;
  height: 20vh;
  display: flex;
  justify-content: right;
  font-size: 10em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  border: inset 4px darkgray;
}

button {
  flex: 25%;
  padding: 5%;
  font-size: 1.5em;
  color: whitesmoke;
  overflow: hidden;
}

.number {
  background-color: grey;
}

#operator {
  background-color: orange;
}

#equals {
  background-color: green;
}

#clear {
  background-color: crimson;
}

#whyIsntThisWorking\? {
background-image: url(https://www.nag.co.za/wp-content/uploads/2019/02/pikachu-shocked.png) !important;
background-size: 100%;
}

button:focus {
  outline: none;
}
