img{
    width: 400px;
    height: 250px;
}

#window{
    width: 400px;
    height: 250px;
    border: solid 5px red;
    margin: 0 auto;
    overflow: hidden;
}

@keyframes carousel{
    from{transform: translateX(0px);}
    to{transform: translateX(-1000px);}
}

#imgslider{
    display: flex;
    animation-name: carousel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
